@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  overflow:hidden;
  padding:0 !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




.leaflet-container {
  height: 100vh;
  width: 100%;
}


@media (max-width: 1685px) {
  .home-page-container {
    flex-direction: column-reverse;
  }
}

.scrollbar-hidden-vertical::-webkit-scrollbar {
  width: 0;
}

.scrollbar-hidden-vertical {
  -ms-overflow-style: none;  /* IE ve Edge için */
  scrollbar-width: none;      /* Firefox için */
  overflow-x: auto;           /* Yatay scroll bar'ı görünür tutar */
  overflow-y: scroll;         /* Dikey scroll bar'ı gizler */
}




.gmnoprint button {
  background-color: #fff !important;
  border-radius: 5px !important;
  margin-right: 5px !important;
  padding: 15px !important;
  margin-bottom: 20px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.dark .gmnoprint button {
  background-color: #424d57 !important;
}

.dark .gmnoprint button img {
  filter: invert(1) !important;
}

.custom-shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.gm-ui-hover-effect {
  outline: none !important;
  width: 20px !important;
  height: 20px !important;
}

.gm-ui-hover-effect span {
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  margin-top: 5px !important;
  margin-left: -4px !important;
}